@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

* {
  font-family: "Courgette", cursive;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #d7d5d5;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  color: #d8d6d6;
}

h1 {
  text-align: center;
  color: #2e2424;
}

.container {
  margin-top: 2%;
  margin-bottom: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(111, 174, 168, 0.48);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(111, 174, 168, 0.51);
  padding: 30px;
}

form {
  display: flex;
  width: 60%;
}

input {
  padding: 15px 10px;
  outline: none;
  width: 70%;
}

.li-container {
  background-color: transparent;

  width: 100%;
  color: #461512;
  margin-top: 1%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: #d7d5d5;

  margin-top: 0.3%;
  display: flex;
}

li p {
  margin: 0;
  padding: 2%;
  width: 80%;
}

.btn-delete {
  margin-left: auto;
  border: none;
  background-color: #a8533e;
  color: #d7d5d5;
  font-weight: bold;
  padding: 5px 10px;
  outline: none;
  border-top-right-radius: 6%;
  border-bottom-right-radius: 6%;
  width: 12%;
  font-size: 1.1em;
}

.btn-delete:hover {
  cursor: pointer;
  background-color: #572522;
}

.btn-add {
  padding: 5px 15px;
  border: none;
  color: #2e2424;
  font-family: "Courgette", cursive;
  background-color: #a4cac8;
  font-size: 80%;
  outline: none;
}

.btn-add:hover {
  cursor: pointer;
  background-color: #ffc09e;
}

.empty {
  color: #ffc09e;
}

#calendario {
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 4px double #e2ab8e;
  max-width: 100%;
  background-color: #a4cac8;
  text-align: center;
}

#diasc {
  justify-content: center;
  border: 1px solid #e2ab8e;
  border-collapse: separate;
  border-spacing: 1%;
}
#diasc th,
#diasc td {
  justify-content: center;
  font-family: "Courgette", cursive;
  width: 6%;
  height: 8%;
}
#diasc th {
  justify-content: center;
  color: #2e2424;
  background-color: #79aca9;
}
#diasc td {
  justify-content: center;
  color: #2e2424;
  background-color: #6faea8;
}
#fechaactual {
  font-family: "Courgette", cursive;
  padding: 0.4em;
  color: #2e2424;
}
#fechaactual i {
  cursor: pointer;
}
#fechaactual i:hover {
  color: #e98167;
  text-decoration: underline;
}
#buscafecha {
  border: solid #fec2a3;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #237271;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  color: #e98167;
  padding: 5px;
}
#buscafecha select,
#buscafecha input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2e2424;
  color: #79aca9;
  font-family: "Courgette", cursive;
}

#buscafecha [type="text"] {
  text-align: center;
}
#buscafecha [type="button"] {
  cursor: pointer;
}

#anterior {
  float: left;
  width: 20%;
  font-family: "Courgette", cursive;
  padding: 0.5em 0.1em;
  cursor: pointer;
  color: #886451;
}
#posterior {
  float: right;
  width: 20%;
  font-family: "Courgette", cursive;
  padding: 0.5em 0.1em;
  cursor: pointer;
  color: #886451;
}
#anterior:hover {
  color: #2e2424;
  text-decoration: underline;
}
#posterior:hover {
  color: #2e2424;
  text-decoration: underline;
}
#titulos {
  font-family: "Courgette", cursive;
  padding: 0.2em;
  color: #ee9a6f;
}
